@font-face{
  font-family: ubuntu;
  src: url('../files/u3.woff2') format('woff2');
  font-weight: 900;
}

@font-face{
  font-family: ubuntu;
  src: url('../files/u2.woff2') format('woff2');
  font-weight: 700;
}

@font-face{
  font-family: ubuntu;
  src: url('../files/u1.woff2') format('woff2');
  font-weight: 400;
}