form{
  padding: 40px 60px;
  height: 100%;
  flex: 5;
  border-left: 1px solid #f2f2f2;
  align-self: stretch;

  & > footer{
    width: 100%;
    padding: 20px 0px 0px;
    display: inline-flex;
    justify-content: space-between;

    button{
      @extend .default-button-style;

      &:first-of-type{
        @extend .dark-button;
      }

      &:last-of-type{
        @extend .green-button;
      }
    }
  }
}