.default-button-style {
  font-size: 16px;
  padding: 14px 24px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.dark-button {
  background-color: #cdcdcd;

  &:hover {
    background-color: #a4a4a4;
  }
}

.green-button {
  background-color: #accf29;

  &:hover {
    background-color: #8aa621;
  }
}

.underlined-title {
  color: #888;
  font-weight: 400;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
  margin-bottom: 20px;

  strong {
    color: #333;
    font-weight: 900;
    font-size: 26px;

  }
}
